<% content_for :title, "New course domain" %>
<% content_for :wide, true %>
<% content_for :app_icon, "🏫" %>
<% content_for :app_title, "New course domain" %>
<div class="mini-app-body hands-app">
  <%= render "form", form_url: admin_course_domains_path %>
</div>
