<%# Locals: domain. Ported from course-site's raises/_line. %>
<div class="cards">
  <%= tag.img id: "waiting-gif", src: "", alt: "",
        data: { waiting_gif_urls: waiting_gif_urls, waiting_gif_key: WaitingGifsHelper::KEY_HEX } %>
  <div class="message text-center">
    <p><%= t("hands.in_line") %></p>
  </div>
</div>
