<%# Locals: domain. Ported from course-site's raises/_line. %>
<div class="cards">
  <img id="waiting-gif" data-waiting-gif-base="https://fotos.mprog.nl/waiting-gifs/" src="" alt="">
  <div class="message text-center">
    <p><%= t("hands.in_line") %></p>
  </div>
</div>
