<% flash.each do |type, message| %>
  <% next if message.blank? %>
  <div class="alert alert--<%= type.to_s == "alert" ? "danger" : "success" %>" role="alert" data-controller="dismiss">
    <%= message %>
    <button type="button" class="alert-dismiss" aria-label="Close" data-action="click->dismiss#dismiss">✕</button>
  </div>
<% end %>
